
.form-login{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(163, 163, 163, 0.486);
    padding: 0 60px;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    
}

.main_login{
    background-image: url("../../assets/background_login.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.signin-form{
    margin-top: 10px;
    width: 300px;
}
.signin-form label{
    color: white;

}
.signin-form > .form-group > input{
    font-size: 14px;
    height: 35px;
    width: 100%;

}
.signin-form button{
    background-color: #00adef;
    border: none;
}

.main_login .ant-tabs-tab{
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.main_login .ant-tabs-tab-active{
    color: #00adef;

}
.main_login .forgot{
    color: white;
}