.notification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  margin-bottom: 5px;
  gap: 20px;
}
.list__notification{
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 9999;
}
.notification__left {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 10px;
  margin-right: 24px;
  justify-content: center;
  align-items: center;
}
.notification__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.notification__title {
  
  font-weight: 500;
  font-size: 16x;

}
.notification__description {

  font-weight: 400;
  font-size: 14px;
  padding: 0;
}
.notification__success {
  background: #f6fef9;
  border: 1px solid #2f9461;
  border-radius: 8px;
}

.notification__error {
  background: #fffbfa;
  border: 1px solid #cd3636;
  border-radius: 8px;
}
.notification__warning {
  background: #fffcf5;
  border: 1px solid #c8811a;
  border-radius: 8px;
}
.notification__title__success {
  color: #2f9461;
}

.notification__title__warning {
  color: #c8811a;
}
.notification__title__error {
  color: #cd3636;
}

.notification__description__success {
  color: #53b483;
}

.notification__description__warning {
  color: #e9a23b;
}
.notification__description__error {
  color: #f34141;
}
.notification_icon_error {
  color: #cd3636;
}
.notification__icon__success {
  color: #2f9461;
}

.notification__icon__warning {
  color: #c8811a;
}
@keyframes minimize {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1000px;
  }
}
.notification__animation__remove{
  animation: minimize 1s linear forwards;
}